<h1>BICH! - Because I Can Hear!</h1>
<p>Select files to convert:</p>

<%= form_tag({action: :upload}, multipart: true, id: :upload_form) do %>
  <%= file_field_tag 'srt_files[]', multiple: true, required: true %>
  <div class="segment">
    Brackets types to get rid of: <br>
    <% Bich2::BRACKETS_TYPES_H.each do |bracket_type, bracket_h| %>
      <%= label_tag nil, class: 'cb-label' do %>
        <%= check_box_tag('brackets_types[]', bracket_type, false, id: "brackets-type-#{bracket_type}", class: 'brackets-type-cb') %>
        <%= "#{bracket_type} #{bracket_h[:look]}" %>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class="segment">
    <p>Remove CSS tags (removing <%= '<i>,<font>' %>, etc)</p>
    <%= label_tag nil, class: 'cb-label' do %>
      <%= check_box_tag('remove_css', 'remove_css', true, id: 'remove-css', class: 'brackets-type-cb') %>
        Remove CSS
    <% end %>
  </div>
  <div class="segment">
    <p>Skim version of <b>Who says what</b>, only removing upper letters (so 'ALEX:' will be removed but not 'option is is:')</p>
    <%= label_tag nil, class: 'cb-label' do %>
      <%= check_box_tag('narrator_easy', 'narrator_easy', false, id: 'narrator-easy', class: 'brackets-type-cb') %>
        Only remove uppercase letters in <b>Who says what</b>
    <% end %>
  </div>
  <div class="segment">
    <%= submit_tag('Convert File/s', id: 'submit') %>
  </div>
<% end %>
<p>
  Can also be used in a script: <br>
  <pre>curl -F 'srt_file=@path/to/file.srt' https://because-i-can-hear.onrender.com/api_upload -o new_file.srt</pre>
  <pre>curl -F 'srt_file=@path/to/file.srt' -F remove_css=true https://because-i-can-hear.onrender.com/api_upload -o new_file.srt</pre>
  <pre>curl -F 'srt_file=@path/to/file.srt' -F narrator_easy=true https://because-i-can-hear.onrender.com/api_upload -o new_file.srt</pre>
  <pre>curl -F 'srt_file=@path/to/file.srt' https://because-i-can-hear.onrender.com/api_remove_css -o new_file.srt</pre>
</p>
<p>
This removes 2 things: <br>
<ul>
  <li>
    Narrator: <br>
    <span class="bich-addon">[DOOR OPENED]</span> Hello there => Hello there <br>
    <span class="bich-addon">(LOUD MUSIC)</span> Rock on! => Rock on! <br>
  </li>
  <li>Who says what: <br><span class="bich-addon">Lisa:</span> Hi John => Hi john</li>
</ul>
</p>

<br>
<p>
  This only works on srt format:<br>
</p>
<div id="examples">
  <div id="before" class="example">
    <p>
      1<br>
      00:00:25,999 --> 00:00:26,999<br>
      <span class="bich-addon">ALEX: </span>Hi Bob<br>
      <br>
      2<br>
      00:00:27,000 --> 00:00:29,400<br>
      <span class="bich-addon">[DOOR OPENED] </span>Tonight's the night.<br>
      <br>
      3<br>
      00:00:31,400 --> 00:00:35,133<br>
      <span class="bich-addon">(sigh) </span>And it's going to happen<br>
      again and again<br>
      <br>
    </p>
  </div>

  <div id="after" class="example">
    <p>
      1<br>
      00:00:25,999 --> 00:00:26,999<br>
      Hi Bob<br>
      <br>
      2<br>
      00:00:27,000 --> 00:00:29,400<br>
      Tonight's the night.<br>
      <br>
      3<br>
      00:00:31,400 --> 00:00:35,133<br>
      And it's going to happen<br>
      again and again<br>
      <br>
    </p>
  </div>

</div>
